<app-navbar></app-navbar>
<div class="scrollable-element" style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="header">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img class="image" src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="openMovieDetailsDialog(movie.Title, movie.Description)"
            >
                Synopsis
            </button>
          <button
            mat-icon-button
            (click)="FavouriteMovie(movie._id)">
            <mat-icon>{{ favourites.includes(movie._id) ? 'favorite' : 'favorite_border' }} </mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
</div>