.formField {
    display: block;
    position: static;
    padding: 1em;
  }
  
  .dialog {
    padding: 2em;
    max-width: 500px;
  }
  
  .header {
    justify-content: space-between;
    padding-bottom: 2em;
  }
  
  .title {
    font-weight: bold;
  }
  
  .content {
    justify-content: space-between;
  }