.card {
    width: fit-content;
}

.formField {
    display: block;
    position: static;
    padding: 1em;
}

.button {
    position: center;
}

.text {
    position: center;
    text-align: center;
}